<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!--配置log_home-->
    <property name="logging.path" value="E:/workspace/moreModule/logs"/><!--放置每天生成日志的位置有待优化，目前采用写死的方法-->
    <property name="logging.file" value="moreModules.log"></property>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"><!--无论什么级别的日志都会输出到控制台-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{uuid}] [%X{orderNo}] %-5level %logger{36} - %msg%n</pattern><!--默认的-->
        </encoder>
    </appender>

    <!--按照每天生成日志文件-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <fileNamePattern>E:/workspace/moreModule/logs/mps-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{uuid}] [%X{orderNo}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="com.founder" level="info" additivity="true"/>
</configuration>
